<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galerie</title>
    <link rel="stylesheet" type="text/css" href="../css/galerie.css">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="index.html">Acasă</a></li>
        <li><a href="about.html">Despre</a></li>
        <li><a href="formular.html">Formular</a></li>
        <li><a href="chat.html">Contact</a></li>
        <li><a href="galerie.html">Galerie</a></li>
    </ul>
</nav>

<div class="slideshow-container">
    <div class="slide fade">
        <img src="../poze/desert-9449657_1920.jpg" alt="Imagine 1">
    </div>
    <div class="slide fade">
        <img src="../poze/web-4003037_1920.jpg" alt="Imagine 2">
    </div>
    <div class="slide fade">
        <img src="../poze/web-design-3411373_1920.jpg" alt="Imagine 3">
    </div>
</div>

<script src="../java/galerie.js"></script>

</body>
</html>